.qodo
schema/mockserver.schema_old.json
.docs/gitbash.md
example/mockserver-dev.yaml

# Node
node_modules/
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Binaries
dist/
build/
bin/

./*.exe
./*-linux
./*-linux-*
./*-macos
./*-macos-*
./*.vers

!npm/bin/.gitkeep

# Temp / Backup
*.bak
*.tmp
*.swp

