.qodo
schema/mockserver.schema_old.json
.docs/gitbash.md

# Node
node_modules/
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Binaries
dist/
build/

*.exe
*-linux
*-macos
*-macos-*


!npm/bin/.gitkeep
# npm/bin/mockserver
# npm/bin/*.exe
# npm/bin/*-linux
# npm/bin/*-macos
# npm/bin/*-macos-*

# Temp / Backup
*.bak
*.tmp
*.swp
